

	

#div2 {
	
	width: 1199px;
	background-color: fuchsia;
	
}

#zd_3 {
	color: blue;
	font-size: 1.7cm;
}


#wyliczenie2 {
	color: gray;
	font-size: 1.3mm;
}





#div3 {
	width: 1099px;
	background-color: yellow;
}

#zd_4 {
	color: maroon;
	font-size: 11mm;
}
#wyliczenie3 {
	color: olive;
	font-size: 7mm;
}





#div1 {
	width: 999px;
	background-color: red;
	}
#zd_1 {
	color: teal;
	font-size: 1.2cm;
}
#zd_2 {
	font-size: 1.6cm;
}
#wyliczenie {
	color: aqua;
	font-size: 8mm;
}